<h1>HOME</h1>
<p>
  This is a blog.
</p>

<div class="add-post">
  {{create-blog}}
</div>

<div class="blog-preview">
  <ul>
  {{#each model as |blog|}}
    {{blog-tile blog=blog}}
  {{/each}}
  </ul>
</div>
