<h1>HOME</h1>
<p>
  This is a blog.
</p>

<div class="add-post">
  {{create-blog newPost="newPost"}}
</div>

<div class="blog-preview">
  <ul class="pagination">
  {{#each model as |blog|}}
    {{blog-tile blog=blog}}
  {{/each}}
  </ul>
</div>
<br>
{{infinity-loader infinityModel=model}}
